---
import SocialIcon from "@components/icons/SocialIcon.astro";
---

<footer class="mt-12 mb-2 w-full flex flex-col items-center justify-center text-center">
    <a href="https://www.digitalocean.com/?refcode=5305795f26e2&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg" alt="DigitalOcean Referral Badge" /></a>
    <br />
    <div class="grid grid-flow-col gap-4 justify-center auto-cols-max mt-2">      
        <SocialIcon name="Github" href="https://github.com/dalecosta1" icon="mdi:github" />
        <SocialIcon name="Linkedin" href="https://www.linkedin.com/in/nicol%C3%B2-costantini-a52602181" icon="mdi:linkedin" />	  
        <SocialIcon name="Email" href="mailto:dalecostadev@protonmail.com" icon="mdi:email" />
    </div>
    <a class="text-lg text-blue-600 dark:text-blue-300 transition duration-300 ease-in-out transform hover:text-blue-700 dark:hover:text-blue-400 mt-2" href="https://github.com/dalecostadev/dalecosta-website.git" rel="noopener noreferrer" target="_blank">Source Code</a>
</footer>
